<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@500&family=Open+Sans&family=PT+Sans:wght@700&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
        <title>vue boolzap</title>
    </head>
    <body>
        <div id="app">
            <div class="background">
                <div class="container">
                    <div class="row">
                        <div class="left-col-40">
                            <div class="left-topbar flexcard">
                                <div class="user-topbar flex">
                                    <div class="user-topbar-profile">
                                        <img src="./img/avatar_io.jpg" alt="">
                                    </div>
                                    <div class="user-topbar-name">Sofia</div>
                                </div>
                                <div class="buttons-topbar flexcard">
                                    <div class="buttons-topbar-icon"><i class="fa-solid fa-circle-notch"></i></div>
                                    <div class="buttons-topbar-icon"><i class="fa-solid fa-message"></i></div>
                                    <div class="buttons-topbar-icon"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                                </div>
                            </div>
                            <div class="notifications">
                                <div class="notifications-icon"><i class="fa-solid fa-bell-slash"></i></div>
                                <div class="notifications-texts">
                                    <div class="notifications-text-normal">Ricevi notifiche di nuovi messaggi</div>
                                    <div class="notifications-text-link"><a href="">Attiva notifiche desktop</a></div>
                                </div>
                            </div>
                            <div class="searchbar">
                                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                                <input type="text" placeholder="Cerca o inizia una nuova chat">
                            </div>
                            <div class="chats">
                                <div @click="changeProfile(index)"  v-for="(item,index) in contacts" class="chat flexcard">
                                    <div class="chat-left">
                                        <div class="chat-profile-pic"><img :src="`./img/avatar${item.avatar}.jpg`" alt=""></div>
                                        <div class="chat-info">
                                            <div class="chat-name">{{item.name}}</div>
                                            <div class="chat-last-message">{{item.messages[item.messages.length-1].message}}</div>
                                        </div>
                                    </div>
                                    <div class="chat-last-message-time">{{item.messages[item.messages.length-1].date}}</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="right-col-60">
                            <div class="right-topbar flexcard">
                                <div class="right-topbar-left-items flex">
                                    <div class="user-topbar-profile">
                                        <img :src="`./img/avatar${contacts[activeProfile].avatar}.jpg`" alt="">
                                    </div>
                                    <div class="chat-info">
                                        <div class="chat-name p-top-10">{{contacts[activeProfile].name}}</div>
                                        <div class="chat-last-access">Ultimo accesso oggi alle 12:00</div>
                                    </div>
                                </div>
                                <div class="right-topbar-right-item">
                                    <div class="buttons-topbar flexcard">
                                        <div class="buttons-topbar-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                                        <div class="buttons-topbar-icon"><i class="fa-solid fa-paperclip"></i></div>
                                        <div class="buttons-topbar-icon"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-chat">
                                <div v-for="(item,index) in contacts[activeProfile].messages" class="message">{{item.message}}</div>
                            </div>
                            <div class="message-bar flexcard">
                                <button class="emoticon-button"><i class="fa-regular fa-face-smile"></i></button>
                                <input type="text" placeholder="Scrivi un messaggio">
                                <button class="audio-button"><i class="fa-solid fa-microphone"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/script.js"></script>            
    </body>
</html>